body {
    margin: 0;
    font-size: 20px;
}

.console * {
    font-family: monospace;
}

.console {
    width: 100vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    background: #000000;
    
}
.inv {
    width: 50%;
    height: 25vh;
    box-sizing: border-box;
    border:2px solid #000000;
    background: #080808;
    float: left;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-grow: 1;
    scrollbar-width: none;
    
}
.menu {
    width: 50%;
    height: 25vh;
    box-sizing: border-box;
    border:2px solid #000000;
    background: #080808;
    float: left;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-grow: 1;
    scrollbar-width: none;
}

.console-history {
    flex-grow: 1;
    box-sizing: border-box;
    padding: 24px;
    overflow-y: auto;
    scrollbar-width: none;
}

.console-input-log,
.console-output-log {
    box-sizing: border-box;
    padding: 6px 12px;
    overflow-wrap: break-word;
}

.console-input-log:hover,
.console-output-log:hover {
    background: #ffffff12;
}

.console-input-log {
    color: #00FF41;
    font-weight: bold;
}

.console-output-log {
    color: #008F11;
    font-weight: bold;
}

.name-of-room-true {
    font-size: 30px;
    color:rgb(19, 87, 27);
}
.console-input {
    flex-shrink: 0;
    padding: 12px;
    box-sizing: border-box;
    outline: none;
    border: none;
    background: #000000;
    transition: background 0.2s;
    font-family: monospace;
    font-size: 20px;
    color: #00FF41;
    font-weight: bold;
    background: #ffffff04;
}

.console-input:hover,
.console-input:focus {
    box-sizing: border-box;
    border:1px solid #464646;
    
    
}

.top-text {
    font-family: monospace;
    text-align: center;
    font-size: 20px;
    color: #00FF41;
    font-weight: bold;
    width: 100%;
}
.item {
    font-family: monospace;
    width: 21%;
    padding: 2%; 
    float: left;
    font-size: 20px;
    color: #00FF41;
    font-weight: bold;
    
}
